@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1 {
        @apply text-2xl font-bold md:text-4xl;
    }

    h2 {
        @apply text-xl font-bold md:text-3xl;
    }

    h3 {
        @apply text-lg font-bold md:text-2xl;
    }

    h4 {
        @apply text-base font-bold md:text-lg;
    }

    body {
        @apply text-sm md:text-base;
    }

}
* {
    scrollbar-width: thin;
    scrollbar-color:red;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background:  #ebebeb;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color:#b5b5b5;

    border-radius: 14px;
    cursor: pointer;
}

:root {
    --color-main:#60a5fa;
}